body{
font-family:Arial;
background:#f4f6f9;
padding:20px;
}

.container{
display:flex;
gap:40px;
}

.left{
width:300px;
}

.right{
flex:1;
}

input,textarea{
width:100%;
padding:8px;
margin-top:8px;
}

button{
margin-top:10px;
padding:10px;
background:#1e88e5;
color:white;
border:none;
cursor:pointer;
}

.queue-item{
background:#e3f2fd;
padding:8px;
margin-top:5px;
cursor:pointer;
}
#statusBar{
padding:10px;
color:white;
font-weight:bold;
margin-bottom:15px;
text-align:center;
}