<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>Doctor Dashboard</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<h1>🏥 Doctor Dashboard</h1>
<div id="statusBar" style="
width:100%;
padding:10px;
color:white;
font-weight:bold;
text-align:center;
background:red;">
SYSTEM STATUS
</div>

<div class="container">

<div class="left">

<h3>Add Patient</h3>

<input id="pid" placeholder="ID">
<input id="pname" placeholder="Name">
<input id="page" placeholder="Age">
<input id="pmobile" placeholder="Mobile">
<input id="pproblem" placeholder="Problem">

<button onclick="addPatient()">Save Patient</button>

<hr>

<h3>Add Queue</h3>

<input id="qid" placeholder="Patient ID">

<button onclick="addQueue()">Add Token</button>

<hr>

<h3>Queue</h3>

<div id="queue"></div>

<button onclick="nextPatient()">Next Patient</button>

</div>


<div class="right">

<h2>Patient Details</h2>

<p>ID: <span id="id"></span></p>
<p>Name: <span id="name"></span></p>
<p>Age: <span id="age"></span></p>
<p>Mobile: <span id="mobile"></span></p>
<p>Problem: <span id="problem"></span></p>

<h3>Doctor Notes</h3>

<textarea id="notes"></textarea>

<button onclick="saveNotes()">Save Notes</button>

</div>

</div>

<script src="/static/script.js"></script>

</body>
</html>
